body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

header {
    background-color: #fff; /* 白色背景 */
    color: #000;            /* 黑色文字 */
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
